.sidebarChat {
    display:flex;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #f6f6f6;
}

.sidebarChat:hover {
    background-color: #ebebeb;
}

.sidebarChat_info > h2 {
    font-size:0.8em;
    margin-bottom: 8px;
}

.sidebarChat_info > p {
    font-size:0.7em;
    margin-bottom: 5px;
}

.sidebarChat_info {
    margin-left:15px;
}